nav {
  background-color: rgb(223, 63, 27);
}

h3 {
  display: inline;
  color: black;
}
a {
  color: black;
  padding-left: 16px;
}

#mainContent {
  background-color: rgb(245, 245, 238);
  padding: 0;
  border: 2px solid gray;
  margin-top: 1%;
}

form {
  padding: 15px;
}

.navbar {
  width: 100%;
}

.host:hover {
  text-decoration: underline !important;
}

#signUpForm,
#logInOrCreateUser,
#userProfile,
#storyForm,
#favoriteNav,
#profileNav,
#submit,
#logOutNav {
  display: none;
}

#storyContainer {
  padding-top: 1%;
}
